@{
    ViewBag.PageTitle = ViewBag.Title;
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.PageTitle += " — ";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.PageTitle@Resources.ProjectTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.ProjectTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.CalendarTitle, "Years", "Calendar")</li>
                    <li>@Html.ActionLink(Resources.AboutTitle, "About", "Home")</li>
                    <li>@Html.ActionLink(Resources.ContactTitle, "Contact", "Home")</li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group" style="width: 200px;">
                        <input type="text" class="form-control" placeholder="@Resources.SearchPlaceholder" id="query">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" aria-label="@Resources.SearchButton"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (ViewBag.Breadcrumbs is IEnumerable<MenuItem>)
        {
            <ol class="breadcrumb">
                @foreach (var item in (IEnumerable<MenuItem>)ViewBag.Breadcrumbs)
                {
                    <li><a href="@item.Url">@item.Label</a></li>
                }
                <li class="active">@ViewBag.Title</li>
            </ol>
        }
        @if (!String.IsNullOrWhiteSpace(ViewBag.Title))
        {
            <div class="page-header">
                <h1>@ViewBag.Title</h1>
            </div>
        }
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
